body{ font-family: "Roboto Slab",serif;}

.Producto{
    margin-top: 10px;
}

.txtObservacion{
  resize: none;
}

.imgProd
{
    width: 175px;
    height:175px;
}
.AgregarCarrito
{
    font-size:30px;
}
.lblKilo, .PrecioArticulo, .ProdNom
{
    display: inline-block;
    position: relative;
    margin-top: 5px;
}
.txtCantidad
{
    appearance: none;
    width: 65px;
    height: 30px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
}
#btn-Checkout-carrito{ margin-bottom: 20px;}
#modalEnvio { font-family: 'FontAwesome', arial; }

#TablaCarrito table th, #TablaCarrito table td{
    text-align: center;
}

#carrito
{
    width: 25%;
    border: #000 solid 2px;
    display: inline-block;
    position: relative;
    right:0px;
    top: 0px;
    bottom: 0px;
}


#pnlPagina
{
    position: absolute;


    /*top:0;*/
    left: 0;
    background-color:#eee;
    width: 100%;
}
#pnlCarrito
{
    position: absolute;
    top:60px;
    right: -300px;
    background-color: #4d4d4d;
    color:White;
    width: 300px;
}

#pnlCarrito .btnCarrito {
	color:White;
	cursor: pointer;
}

.btnCarrito { outline: none; }
.btnCarrito:active { outline: none; }
.btnCarrito:linked { outline: none; }
.btnCarrito:hover { outline: none; }


/*************** Tienda online **************/

.barra-superior
{
    background-color: #449D44;/*#B58768;*/
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
/*    position: fixed;*/
    /*display: inline-block;*/
    /*z-index: 1;*/

}

#TituloTienda h2 {
    font-family: "Roboto Slab",serif;
    margin: 0;
    font-size: 18px;
    padding: 10px 0 10px 0;
}

.lstEncabezado li{
    display: inline-block;
    padding: 5px 15px 0 0;
    cursor: pointer;
}

#lstCat li
{
    padding: 5px 20px 0 0;
    cursor: pointer;
}

.lstEncabezado li:hover
{
    text-decoration: underline;

}

#lstCat li:hover{
    text-decoration: underline;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;

}

.navbar .navbar-collapse {
    text-align: center;
}

.mnuCategoria{margin-bottom: 0px;}
.imgLogo{ margin: 20px 0 20px 0; }
.imgLogo img{border-radius: 5px;}

.Productos{
    background: #449D44 none repeat scroll 0px;
/*    #449D44 */
    height: 100%;
    }
.Productos h3,.Productos h1
{
    color:#fff;

}

.pnlMarco{background: #fff;  }


/*  TIENDA NUEVA */


.prueba{
    height: 800px;
    width: 100%;
    background-color: red;
    position: relative;
    display:inline-block;
    margin-top: 50px;
}


.BarraCategorias
{
    padding-top: 50px;
    width: 100%;
    min-height: 70px;
    margin:0;
}

.navbar-default .navbar-nav > li > a
{
    font-size: 15px;
    font-family: "Roboto Slab",serif;
    cursor: pointer;
}

.Fondo{
    background-image: url('../images/VEGETALES-Y-FRUTAS.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
}

.table-remove {
  color: #700;
  cursor: pointer;
}

.table-remove:hover {
    color: #f00;
  }

.frmBuscarArticulo{
    margin: 20px 0 10px 0;
}

.Productos2{
    z-index: 1;
    position: relative;
}


.Productos2 div
{
    background-color: red;
    height: 30px;
}
 #TopBar
 {
     width: 100%;
     height: 50px;
     position: fixed;
     z-index: 100;
     background-color: #6A5854;
 }
 #TopBar ul {
     color: #fff;
     padding-top: 10px;
     padding-right: 30px;
     font-family: "Roboto Slab",serif;
     cursor: pointer;
 }

 #TopBar ul li:hover{
     text-decoration: underline;
 }

/*    PRUEBAAAAAAA */
 * {
            margin: 0;
   }
    html, body{
        height: 100%;
    }

    #wrapper{
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -150px; /* el magin-bottom es el valor negativo de
        la altura del footer */
    }

    #footer, #push {
        height: 150px; /* la altura del push es la misma que la altura
        del footer */
    }

    #footer {

        color:white;
        background-image: url('../images/bg3.jpg');
        font-family: "Roboto Slab",serif;
        font-size:15px;

    }

    #footer div p{ padding-top: 40px;}

    .border-green {
	border-bottom: 3px solid #99B568;
	margin: 15px auto 0px;
	width: 100%;
}

.fve-borde-beneficios {
	padding: 5px;
	border: 1px solid #CCC;
	background-color: #FFF;
	box-shadow: 0px 0px 5px #CCC;
        margin-bottom: 30px;
}

.EnOferta{
    position: absolute;
    width: 80px;
    top:10px;
    left:0;
    height: 30px;
    font-size:20px;
    color:#FFF;
    background-color: #6A5854;
    border-radius: 5px ;
}
.img-logo{padding-top: 5px;padding-left:5px; }

.Back{
    font-size:30px;
    color:#FFF;
    background-color: #6A5854;
    height: 50px;
    width: 50px;
    position: fixed;
    top:55px;
    right: 0px;
    text-align: center;
    z-index:2;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 00px 2px 7px 0px rgba(0,0,0,0.75);
    border-radius: 2px;

}

.Back a:hover
{
   padding-top: 0;
   font-size: 35px;
   outline: none;
}

.Back a{
    padding-top: 10px;
    color:#FFF;
    outline: none;
}

.CerrarModal{
   cursor: pointer;
   font-size: 20px;
}

.CerrarModal:hover{
    font-weight: bold;

}

.block-loading
{
    z-index:9999;
    background-image: url('../images/ajax-loader.gif');
    background-position: center center;
    background-color: black;
    background-repeat: no-repeat;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:999;
    opacity:0.4;
}

@media only screen and (max-width: 320px) {
    #logo
    {
       display: none;
    }
}

.btnComprar{margin-top: 15px;}
