

.Producto{
    margin-top: 10px;
}

.imgProd
{
    width: 150px; 
    height:150px;
}
.AgregarCarrito
{
    font-size:30px;
}
.lblKilo, .PrecioArticulo, .ProdNom
{
    display: inline-block;
    position: relative;
}
.txtCantidad
{
    appearance: none;
    width: 45px;
    height: 25px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
}

input { font-family: 'FontAwesome', arial; }

#carrito
{
    width: 25%; 
    border: #000 solid 2px;
    display: inline-block; 
    position: relative;
    right:0px; 
    top: 0px; 
    bottom: 0px;
}

